/* UserEvents.module.css */
/* Container für das Grid-Layout */
.eventsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 16px;
    padding: 16px;
  }
  
  /* Styling für die Event-Karten */
  .eventCard {
    width: 100%; /* Breite der Karten auf 100% setzen, um den Grid-Spalten zu entsprechen */
  }
  
  /* Optional: Styling für Bilder */
  .eventImage {
    height: 200px; /* Mindesthöhe für Bilder */
    object-fit: cover; /* Bild skaliert, ohne das Seitenverhältnis zu verlieren */
  }
.cardBody {
    background-color: #888;
    color: #ffffff !important;
    padding: 1.5rem !important;
}

.eventCard {
    border-radius: 5px;
}

.cardTitle {
    font-size: 1.5rem !important;
    font-weight: bold !important;
    margin-bottom: 1rem !important;
}

.listGroupItem {
    border: none !important;
    padding: 1rem !important;
    border-bottom: 1px solid #ddd !important;
}

.eventImage {
    border-radius: 8px !important;
    margin-bottom: 0.75rem !important;
    min-height: 200px !important;
    object-fit: cover !important;
}

.listGroupItem:last-child {
    border-bottom: none !important;
}

.eventTitle {
    font-size: 1.25rem !important;
    font-weight: bold !important;
}

.eventDescription {
    font-size: 1rem !important;
    color: #555 !important;
}

.eventDate {
    font-size: 0.875rem !important;
    color: #888 !important;
}

.spinnerContainer {
    text-align: center !important;
    margin-top: 2rem !important;
}

.alert {
    margin-top: 2rem !important;
    font-size: 1rem !important;
}

@media (max-width: 576px) {
    .cardTitle {
        font-size: 1.25rem !important;
    }

    .eventTitle {
        font-size: 1rem !important;
    }

    .eventDescription {
        font-size: 0.875rem !important;
    }

    .eventDate {
        font-size: 0.75rem !important;
    }
}