@import url('./globalVars.css');

.App {
  background-color: var(--bg-app);
  font-family: 'Roboto', sans-serif;
}
.App h1,
.App h2,
.App h3 {
  color: var(--highlight-color);
}

.headline {
  color: var(--highlight-color) !important;
  text-align: center;
  font-family: 'Galindo', cursive;
}

.headline2 {
  color: var(--highlight-color) !important;
  font-family: 'Galindo', cursive;
}
.Header {
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(to bottom, #ffffff, #cccccc);
}

.hr1 {
  border: none;
  border-top: 2px solid var(--highlight-color);
  margin: 1em 0;
}

.bg-nav {
  background-color: var(--highlight-color);
}

footer {
  background-color: var(--highlight-color);
  color: #ffffff;
}

footer .nav-link:hover {
  color: #ffffff !important;
}

/* CSS für die .primary-Klasse */
.primary {
  color: #ffffff !important;
  background-color: var(--highlight-color) !important;
  border: 1px solid #ffffff !important;
}

.primary:hover {
  color: var(--highlight-color) !important;
  background-color: #dfdfdf !important;
  border: 1px solid var(--highlight-color) !important;
  cursor: pointer;
}

.bg-mordal {
  background-color: #900c3f7d !important;
}
