:root {
  --primary-color: #ff5733 !important; /* Orange */
  --secondary-color: #c70039 !important; /* Dunkelrot */
  --highlight-color: #900c3f !important; /* Dunkelviolett */
  --bg-app: #f8f9fa !important; /* Hellgrau */
}
